n8n-workflows/lead-capture-v2.json
{
    "name": "CareTechMobile - Lead Capture v2",
    "nodes": [
        {
            "parameters": {
                "path": "caretech-lead",
                "httpMethod": "POST",
                "responseMode": "onReceived",
                "options": {}
            },
            "id": "webhook-1",
            "name": "Website Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                200,
                300
            ]
        },
        {
            "parameters": {
                "mode": "manual",
                "duplicateItem": false,
                "assignments": {
                    "assignments": [
                        {
                            "id": "1",
                            "name": "ticket_id",
                            "value": "=CTM-{{ Date.now() }}",
                            "type": "string"
                        },
                        {
                            "id": "2",
                            "name": "name",
                            "value": "={{ $json.name }}",
                            "type": "string"
                        },
                        {
                            "id": "3",
                            "name": "phone",
                            "value": "={{ $json.phone }}",
                            "type": "string"
                        },
                        {
                            "id": "4",
                            "name": "service",
                            "value": "={{ $json.service }}",
                            "type": "string"
                        },
                        {
                            "id": "5",
                            "name": "message",
                            "value": "={{ $json.message }}",
                            "type": "string"
                        }
                    ]
                }
            },
            "id": "set-1",
            "name": "Prepare Lead Data",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://graph.facebook.com/v21.0/961828997005342/messages",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer EAAZAsIGSgOysBQdbqFgS0v8bdSphKUXVmIGFGHFrsA3V5YKV4qN5LmOJ48y2FC2Y0MvuxNwCAeC304sqWclrDXm8p25C4IXIw5hxpgAHwwJ3BSA4gPh4ND3Hriev3nFetBZAJqQseBWoH0xR74UhTYb6WHW0X07YHTgAJm8DPsk8YBp1Tn6zwKwf49FqcpqTZAQb7p3p0fCwE0RoRtFfGeriXxnrM5E0QnJzGHCPLN8DZBOarENmvNvCZAah912AXsUQD9SlCCIxcAxQ0kGoSQ5e1ZBgZDZD"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\"messaging_product\":\"whatsapp\",\"to\":\"919495253265\",\"type\":\"text\",\"text\":{\"body\":\"Hello \" + $json.name + \"! CareTechMobile received your enquiry. Ticket: \" + $json.ticket_id + \". Service: \" + $json.service + \". We will contact you within 30 minutes.\"}}",
                "options": {}
            },
            "id": "http-customer",
            "name": "WhatsApp Customer",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                700,
                200
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://graph.facebook.com/v21.0/961828997005342/messages",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer EAAZAsIGSgOysBQdbqFgS0v8bdSphKUXVmIGFGHFrsA3V5YKV4qN5LmOJ48y2FC2Y0MvuxNwCAeC304sqWclrDXm8p25C4IXIw5hxpgAHwwJ3BSA4gPh4ND3Hriev3nFetBZAJqQseBWoH0xR74UhTYb6WHW0X07YHTgAJm8DPsk8YBp1Tn6zwKwf49FqcpqTZAQb7p3p0fCwE0RoRtFfGeriXxnrM5E0QnJzGHCPLN8DZBOarENmvNvCZAah912AXsUQD9SlCCIxcAxQ0kGoSQ5e1ZBgZDZD"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\"messaging_product\":\"whatsapp\",\"to\":\"919495253265\",\"type\":\"text\",\"text\":{\"body\":\"NEW LEAD! Name: \" + $json.name + \", Phone: \" + $json.phone + \", Service: \" + $json.service + \", Message: \" + $json.message + \", Ticket: \" + $json.ticket_id}}",
                "options": {}
            },
            "id": "http-admin",
            "name": "WhatsApp Admin",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                700,
                400
            ]
        }
    ],
    "connections": {
        "Website Webhook": {
            "main": [
                [
                    {
                        "node": "Prepare Lead Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Lead Data": {
            "main": [
                [
                    {
                        "node": "WhatsApp Customer",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "WhatsApp Admin",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    }
}