n8n-workflows/whatsapp-webhook.json
{
    "name": "WhatsApp Webhook Handler",
    "nodes": [
        {
            "parameters": {
                "path": "whatsapp",
                "httpMethod": "={{$parameter[\"httpMethod\"]}}",
                "responseMode": "onReceived",
                "options": {}
            },
            "id": "webhook-wa",
            "name": "WhatsApp Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                200,
                300
            ],
            "webhookId": "whatsapp-hook"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "1",
                            "leftValue": "={{ $json.query['hub.mode'] }}",
                            "rightValue": "subscribe",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "if-verify",
            "name": "Is Verification?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                400,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "text",
                "responseBody": "={{ $json.query['hub.challenge'] }}",
                "options": {}
            },
            "id": "respond-verify",
            "name": "Return Challenge",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                600,
                200
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "1",
                            "name": "messageType",
                            "value": "incoming",
                            "type": "string"
                        },
                        {
                            "id": "2",
                            "name": "from",
                            "value": "={{ $json.body?.entry?.[0]?.changes?.[0]?.value?.messages?.[0]?.from || 'unknown' }}",
                            "type": "string"
                        },
                        {
                            "id": "3",
                            "name": "messageText",
                            "value": "={{ $json.body?.entry?.[0]?.changes?.[0]?.value?.messages?.[0]?.text?.body || '' }}",
                            "type": "string"
                        }
                    ]
                }
            },
            "id": "parse-message",
            "name": "Parse Message",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                600,
                400
            ]
        }
    ],
    "connections": {
        "WhatsApp Webhook": {
            "main": [
                [
                    {
                        "node": "Is Verification?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Verification?": {
            "main": [
                [
                    {
                        "node": "Return Challenge",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Parse Message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    }
}