n8n-workflows/whatsapp-bot-complete.json
{
    "name": "CareTechMobile WhatsApp Bot",
    "nodes": [
        {
            "parameters": {
                "path": "whatsapp",
                "httpMethod": "={{['GET', 'POST']}}",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-wa",
            "name": "WhatsApp Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                200,
                300
            ],
            "webhookId": "whatsapp-hook"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "1",
                            "leftValue": "={{ $json.query['hub.mode'] }}",
                            "rightValue": "subscribe",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "if-verify",
            "name": "Is Verification?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                400,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "text",
                "responseBody": "={{ $json.query['hub.challenge'] }}",
                "options": {}
            },
            "id": "respond-verify",
            "name": "Return Challenge",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                600,
                150
            ]
        },
        {
            "parameters": {
                "mode": "manual",
                "duplicateItem": false,
                "assignments": {
                    "assignments": [
                        {
                            "id": "1",
                            "name": "from",
                            "value": "={{ $json.body?.entry?.[0]?.changes?.[0]?.value?.messages?.[0]?.from || '' }}",
                            "type": "string"
                        },
                        {
                            "id": "2",
                            "name": "messageText",
                            "value": "={{ $json.body?.entry?.[0]?.changes?.[0]?.value?.messages?.[0]?.text?.body || '' }}",
                            "type": "string"
                        },
                        {
                            "id": "3",
                            "name": "messageType",
                            "value": "={{ $json.body?.entry?.[0]?.changes?.[0]?.value?.messages?.[0]?.type || 'unknown' }}",
                            "type": "string"
                        },
                        {
                            "id": "4",
                            "name": "senderName",
                            "value": "={{ $json.body?.entry?.[0]?.changes?.[0]?.value?.contacts?.[0]?.profile?.name || 'Customer' }}",
                            "type": "string"
                        },
                        {
                            "id": "5",
                            "name": "timestamp",
                            "value": "={{ new Date().toISOString() }}",
                            "type": "string"
                        }
                    ]
                }
            },
            "id": "parse-message",
            "name": "Parse Message",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                600,
                400
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": false,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "1",
                            "leftValue": "={{ $json.from }}",
                            "rightValue": "919495253265",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "if-admin",
            "name": "Is Admin?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                800,
                400
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": false,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "1",
                            "leftValue": "={{ $json.messageText.toUpperCase() }}",
                            "rightValue": "STATUS",
                            "operator": {
                                "type": "string",
                                "operation": "startsWith"
                            }
                        }
                    ],
                    "combinator": "or"
                },
                "options": {}
            },
            "id": "if-command",
            "name": "Is Command?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                1000,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://graph.facebook.com/v21.0/961828997005342/messages",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer EAAZAsIGSgOysBQUZAamy3u452LkMn3KKkXOCn4tAK6c8ZCGSZCZBW9MNpKJIuYV5fKEWdRaVgEuXH9ycUcmsZA8T87bAcHZBhjFYqGYMOyuzsza6pV9fxLtGeiQnEZAaNfVq3wldhCy6DntJPNZC5xlFnskTg82gpyfv5ZBLSd6KuItvjEuhaHwA540T5r8JQ72f1MnwZDZD"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.from }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"🙏 வணக்கம் {{ $json.senderName }}!\\n\\nCareTechMobile-க்கு நன்றி!\\n\\nநாங்கள் உடனடியாக உங்களை தொடர்பு கொள்வோம்.\\n\\n📞 Contact: 9962003738\\n🌐 www.caretechmobile.com\"\n  }\n}",
                "options": {}
            },
            "id": "send-auto-reply",
            "name": "Send Auto Reply",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1000,
                500
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://graph.facebook.com/v21.0/961828997005342/messages",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer EAAZAsIGSgOysBQUZAamy3u452LkMn3KKkXOCn4tAK6c8ZCGSZCZBW9MNpKJIuYV5fKEWdRaVgEuXH9ycUcmsZA8T87bAcHZBhjFYqGYMOyuzsza6pV9fxLtGeiQnEZAaNfVq3wldhCy6DntJPNZC5xlFnskTg82gpyfv5ZBLSd6KuItvjEuhaHwA540T5r8JQ72f1MnwZDZD"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"919495253265\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"🔔 NEW MESSAGE!\\n\\n👤 {{ $json.senderName }}\\n📱 {{ $json.from }}\\n💬 {{ $json.messageText }}\\n⏰ {{ $json.timestamp }}\"\n  }\n}",
                "options": {}
            },
            "id": "notify-admin",
            "name": "Notify Admin",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1200,
                500
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\"status\": \"received\"}",
                "options": {}
            },
            "id": "respond-ok",
            "name": "Return OK",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1400,
                500
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://graph.facebook.com/v21.0/961828997005342/messages",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer EAAZAsIGSgOysBQUZAamy3u452LkMn3KKkXOCn4tAK6c8ZCGSZCZBW9MNpKJIuYV5fKEWdRaVgEuXH9ycUcmsZA8T87bAcHZBhjFYqGYMOyuzsza6pV9fxLtGeiQnEZAaNfVq3wldhCy6DntJPNZC5xlFnskTg82gpyfv5ZBLSd6KuItvjEuhaHwA540T5r8JQ72f1MnwZDZD"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.from }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"✅ Command received: {{ $json.messageText }}\\n\\nProcessing...\"\n  }\n}",
                "options": {}
            },
            "id": "handle-command",
            "name": "Handle Command",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1200,
                200
            ]
        }
    ],
    "connections": {
        "WhatsApp Webhook": {
            "main": [
                [
                    {
                        "node": "Is Verification?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Verification?": {
            "main": [
                [
                    {
                        "node": "Return Challenge",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Parse Message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Message": {
            "main": [
                [
                    {
                        "node": "Is Admin?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Admin?": {
            "main": [
                [
                    {
                        "node": "Is Command?",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Send Auto Reply",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Command?": {
            "main": [
                [
                    {
                        "node": "Handle Command",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Return OK",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Auto Reply": {
            "main": [
                [
                    {
                        "node": "Notify Admin",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Notify Admin": {
            "main": [
                [
                    {
                        "node": "Return OK",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Handle Command": {
            "main": [
                [
                    {
                        "node": "Return OK",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1"
    }
}