deploy/n8n-workflows/whatsapp-webhook-v2.json
{
    "name": "WhatsApp Webhook Handler",
    "nodes": [
        {
            "parameters": {
                "path": "whatsapp",
                "httpMethod": "={{['GET', 'POST']}}",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-wa",
            "name": "WhatsApp Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                200,
                300
            ],
            "webhookId": "whatsapp-hook"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "1",
                            "leftValue": "={{ $json.query['hub.mode'] }}",
                            "rightValue": "subscribe",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "if-verify",
            "name": "Is Verification?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                400,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "text",
                "responseBody": "={{ $json.query['hub.challenge'] }}",
                "options": {}
            },
            "id": "respond-verify",
            "name": "Return Challenge",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                600,
                200
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\"status\": \"received\"}",
                "options": {}
            },
            "id": "respond-message",
            "name": "Return OK",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                600,
                400
            ]
        }
    ],
    "connections": {
        "WhatsApp Webhook": {
            "main": [
                [
                    {
                        "node": "Is Verification?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Verification?": {
            "main": [
                [
                    {
                        "node": "Return Challenge",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Return OK",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1"
    }
}